.link-item{
    text-decoration: none;
    color:#333;
}

.note-item {
    background-color: #1e1e1e;
    border: 1px solid #2a2a2a;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    width:90vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    text-decoration: none;
    list-style-type: none;
    color:#eaeaea;
}

.note-item:hover {
    background-color: #272727;
    transition: background-color 0.3s ease;
}

.note-item-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.note-item-content {
    font-size: 1em;
    color: #eaeaea;
    opacity: 0.8;
}
